# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temp files
*.tmp
*.tempCodeRunnerFile
/test_file.txt


# Jupyter
.ipynb_checkpoints/

# Build
dist/
build/
*.egg-info/

# Environment
.env

# ML / AI related (CRITICAL)
models/
data/
*.pt
*.pth
*.bin
*.pkl
*.joblib
*.h5

# Hugging Face / cache
.cache/
huggingface/
*.safetensors

# Misc large files
*.zip
*.tar
*.gz